
.zone li {
    margin-bottom: 10px;
    padding: 0.7em;
    line-height: 22px;
    border-left: 5px solid #0078AD;
    background-color: #f2f2f2;
}

.zone li a {
    color: #777777;
}

.zone li a:hover {
    color: #333333;
}

.zone-msg {
    margin-left: 15px;
}

.zone-msg h2 {
    margin-left: 33%;
}

.zone-content p {
    width: 120px;
    padding: 1em;
}

.zone-content li {
    margin-bottom: 10px;
    padding: 0.7em;
    line-height: 22px;
}

.zone-content a {
    color: #9F9F9F;

}

.zone-content .label {
    float: left;
    display: block;
    padding: 9px 2em;
    width: 5em;
    font-weight: 400;
    text-align: right;
}

.zone-content .text {
    display: block;
    padding-top: 9px;
}

.zone-content input {
    display: block;
    margin-top: 9px;
    margin-bottom: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.zone-content li a {
    color: #777777;
    text-decoration: underline;
    text-decoration-color: #C9C9C9;

}

.zone-content li a:hover {
    color: #333333;
}
